<main class="main">
  <window></window>
  <desktop-icon [icon]="'folder_empty'" [text]="'Thoughts'"></desktop-icon>
  <desktop-icon [icon]="'folder_filled'" [text]="'ideas'"></desktop-icon>
  <desktop-icon [icon]="'user_card'" [text]="'personal cv&shy;_final_final&shy;_final(2).pdf'"></desktop-icon>
  <desktop-icon [icon]="'game_2'" [text]="'minesweeper&shy;_x32.exe'" ondblclick="window.open('https://minesweeper.online/start/2');"></desktop-icon>
  <img src="../assets/media/logo.png"/>
  <task-bar></task-bar>
</main>

<router-outlet />
